!!! 5
%html
  %head
    %title Celluloid Actor Sourced Events
    %script{:src => "js/jquery-1.7.1.min.js", :type => "text/javascript"}
    %script{:src => "js/actor.js", :type => "text/javascript"}
  %body
    %h1 Celluloid Actor Sourced Events
    %p.eventspar
      %ol#eventslist
        %li.eventdetail Place Holder
    %h2 Log
    .log

